/* Arcade Game */
.game-box {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: var(--bg-alpha1);
    border: 2px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.arcade-invader {
    position: absolute;
    font-family: var(--typing-font);
    font-size: 1.5rem;
    color: var(--correct-color);
    text-shadow: 0 0 10px var(--correct-color);
    white-space: nowrap;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    user-select: none;
}
.arcade-remove-animation {
    opacity: 0;
    transform: scale(0.5);
}

.abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-start-button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-start-button:hover {
    background-color: var(--button-bg-hover);
}

#arcade-timeleft {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--body-color);
    font-size: 1.2rem;
}

#arcade-cooldown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--body-color);
    font-size: 1.5rem;
}


#arcade-input-box {
    opacity: 0.75;
}

#arcade-wave, #arcade-score, #arcade-timeleft-remaining {
    display: inline-block;
    margin: 0 10px;
}