RewriteEngine On


# If the request is for a file or directory that exists, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, rewrite tab-related requests to index.html
RewriteRule ^(main-tab|reports-tab|wordle-tab|arena-tab|stock-tab|settings-tab|research-tab|guild-tab|hacker-tab|arcade-tab|casino-tab|memory-tab)$ index.html [L]

# For all other requests, generate a 404 error
RewriteRule ^ - [R=404,L]